
html{
    font-size: 13px;
}

img{
    max-width: 100%;
}
h2, .h2{
    font-size: 2.8rem;
}
body{
    font-family: 'ArialMT';
    color: #9A9A9A;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'MuseoSlab-500';
}


/*header*/

header{
    border-bottom: 1px dotted #000
}

.navbar-brand{
    max-width: 50%;
}
header .navbar-nav a{
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px dotted #000;
    transition: 0.5s linear;
    
}
header .navbar-nav li:last-of-type a{
    border-bottom: none;
}
header .navbar-nav li.active a,
header .navbar-nav li:hover a{
    background: #000;
    color: #fff !important;
}
/*news section*/
.news .news-item{
    border-bottom: 1px dotted #9a9a9a;
}
.news .news-item:last-of-type{
    border-bottom: none;
}
.news .news-item figure{
    overflow: hidden;
}
.news .news-item figure img{
    transition: 0.5s linear;
}
.news .news-item figure:hover img{
    transform: scale(1.1)
}
.news-header h2{
    line-height: 3rem;
    letter-spacing: -1px;
    
}
.news-header h2 a{
    color: #000;
    text-decoration: none;
}
.news-header p.small{
    font-family: 'Arial-ItalicMT';
    color: #2e2e2e;
    font-size: 12px !important
}
.news-header p.small:before {
    content:'';
    display: inline-block;
    width:12px;
    height: 13px;
    border-left:  1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    position: relative;
    top:-3px;
    
}
.news-header .comments-number {
    width: 44px;
    height: 42px;
    background: url('asets/comments.png') no-repeat center center;
    font-family: 'Arial-BoldMT';
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
.news-item-description p~p{
    display: none;
}
.news-item-description p{
    line-height: 1.4rem;
    max-height: 7rem;
    overflow: hidden
}
.news .news-item .read-more{
    color: #e9e9e9;
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
    background: #616161;
    display:inline-block;
    position: relative;
    text-decoration: none;
    transition: 0.5s linear;
    
    
}
.news .news-item .read-more:after{
    content: '';
    width:32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    border: 16px solid transparent;
    border-left-color: #616161;
}
.news .news-item .read-more:hover{
    margin-left: 3px;
}
/*news navigation*/
.news-navigation a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    font-family: 'Arial-BoldMT';
}
.news-navigation > span{
    color: #4d4d4d;
    font-size: 16px;
    padding: 0.15px;
    display: inline-block;
    
}
.news-navigation a:hover{
    color: #000;
    text-shadow: 0 0 1px #4d4d4d;
}
.social a{
    color: #000;
    font-size: 32px;
    text-decoration: none;
}
.search-form .form-control{
    border-radius: 0;
    background: #f7f7f7;
}
.search-form .form-control:focus{
    border: 1px solid #8b8a8a;
    box-shadow: 0 0 1px rgba(0,0,0,0.5)
}
.top-article .top-article-item .w-75 a{
    text-decoration: none;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;
   
    
}
.recent-comments-item span.w-75{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.recent-comments p{
    font-size: 12px !important;
    border-top: 1px solid #ccc;
}
.recent-comments{
    border-bottom: 1px solid #ccc;
}
.recent-comments .w-25{
    white-space: nowrap ;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*single-news-content start*/
.single-news{
    padding: 0 0 30px;
    border-bottom: 1px dotted #9a9a9a;
}
.single-news .single-news-content h1, 
.single-news .single-news-content h2, 
.single-news .single-news-content h3, 
.single-news .single-news-content h4, 
.single-news .single-news-content h5, 
.single-news .single-news-content h6{
    font-family: 'ArialMT';
    color: #252525;
    letter-spacing: 1px;
} 
.single-news-content ul{
    /*list-style-image: url('../img/puzzle.jpg');*/
    list-style: none;
    
}
.single-news-content ul li:before{
    content: '';
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url('../img/puzzle.jpg') no-repeat center;
    background-size: contain;
    margin-right: 5px;
}
.single-news-content blockquote{
    background: #EFEFEF;
    font-family: 'Arial-ItalicMT';
    padding: 20px 20px 20px 40px;
    max-width: 90%;
    margin: 0 auto 15px;
    color: #8a8a8a;
    position: relative
}
.single-news-content blockquote:before{
    content: '“';
    font-family: 'ArialMT';
    color: #fff;
    font-size: 120px;
    position: absolute;
    top: -35px;
    left: 5px;
}
.comments .comments-item{
    border: 1px solid rgba(213,213,213,0.54);
    background: #f8f8f8;
}
.comments .comments-item:nth-of-type(even){
    background: white;
}
.comments .comment-author{
    flex-basis: 30%;
    max-width: 30%;
    
}
.comments .comments-content{
    flex-basis: 70%;
    max-width: 70%;
}
.comments .comments-content img{
    border-radius: 4px;
    border: 3px solid #ccc;
    
}
.comments .comments-author-name{
    font-family: 'Arial-BoldMT';
    color:#515151;
}
.add-commment{
    border: 1px solid rgba(213,213,213,0.54);
    background: #f8f8f8;
    
}
.add-commment .form-control{
    border-radius: 0;
    background: #fff;
}
.add-commment .form-control:focus{
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
    border-color: #ced4da;
    
}
.add-commment .btn{
    border-radius: 0;
}
.add-commment textarea{
    resize: none;
}
footer{
    border-top: 1px dotted #8a8a8a;
}
footer ul li, 
footer ul li:first-of-type a,
footer ul li:first-of-type a:hover{
    font-family: 'Arial-BoldMT';
    color: #6d6d6d;
    font-size: 16px;
   
}
footer ul li a, footer ul li a:hover{
     font-family: 'ArialMT';
     color: #6d6d6d;
     font-size: 16px;
     text-decoration: none;
     transition: 0.5s ease;
     display: block;
     
}
footer ul li a:hover{
    padding-left: 5px;
}
footer .footer-about h5 a{
    text-decoration: none;
    color: #000;
    font-family: "Arial-BoldMT";
}